:root {
  --color-white: #ffffff;
  --color-okean: #404bbf;
  --color-background: #ffffff;
  --color-iris: #4d5ae5;
  --color-background-btn: #404bbf;
  --color-background-main: #2e2f42;
  --color-main: #434455;
  --color-claud: #f4f4fd;
}

body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: "Roboto", normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.heider-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.heider-logo-span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.heider-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.heider-addres {
  font-style: normal;
}
.heider-link-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.heider-link:is(:hover, :focus) {
  color: #404bbf;
}
.heider-link-mail:hover {
  color: #404bbf;
}

.heider-link-mail:focus {
  color: #404bbf;
}

.heider-link-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.heider-link-tel:hover {
  color: #404bbf;
}
.heider-link-tel:focus {
  color: #404bbf;
}

.main-seca {
  background-color: #2e2f42;
}

.main-seca-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.main-seca-but {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.main-seca-but:is(:hover, :focus) {
  color: #404bbf;
}

.main-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-secb-par {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.main-sec3-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.main-sec4-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.sec4-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-sec4-par {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
}
.footer-par {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* portfolio */

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.portfolio-title-photo {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
